.r{
    text-align: right;
    background-color:#fbeeff  ;
    padding: 2%;
    padding-right: 10% !important;
    
    
}
.l{
    background-color:#d3fdff  ;
    padding: 2%;
    padding-left: 10% !important;
}
